.iced-main-container{
    padding: 90px 20%;
    background-color: #191919;
    color: white;
    text-align: center;
}
.iced-connection-heading{
    font-size: 4.5vw;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 50px;
}
.iced-connection-image{
    width: 100%;
}
.iced-text-div{
    text-align: center;
}
.iced-sm-text{
    /* top: -20px; */
    font-size: 2.5vw;
}
.who-we-are-heading{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 30px;

}
.iced-connection-description{
    font-size: 15px;
    font-weight: 400;
    margin-top: 30px;
}
.iced-connect-button{
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 15px;
    color: black;
    margin-top: 50px;
}
.iced-connect-button:hover{
    background-color: #A3A3A3;
}
.buy-arbibac-heading{
    font-size: 32px;
    font-weight: 600;
    font-family: helvetica-w01-bold;
    text-transform: uppercase;
    margin-top: 30px;
}
.buy-arbibac-pararaph{
    font-size: 18px;
    font-weight: 500;
    font-family: helvetica-w01-bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.range-main-div span{
    border-bottom: 1px solid white;  
    margin-right: 20px;  
    margin-top: 4px;
    width: 40px;
    font-size: 18px;
}
.iced-buy-arbibayc-div{
    border: 1px solid #69696B;
    width: 700px;
    margin: 10px auto;
    padding: 30px;
    border-radius: 5px;
}
.iced-buy-arbibayc-div-main{
    display: flex;
    justify-content: center;
    font-family: helvetica-w01-roman;

}
.range-main-div{
    display: flex;
    justify-content: center;
    padding:0px 20px;
}
.iced-buy-arbibayc-div p{
    margin: auto 10px;
    width: 70px;
    font-size: 18px;
}
.iced-buy-arbibayc-div button{
    text-transform: uppercase;
    background-color: #5043D9;
    color: white;
    border: none;
    border-radius: 30px;
    width: 130px;
    margin-top: 30px;
    height: 50px;
}
@media only screen and (max-width:991px) {
    .iced-buy-arbibayc-div{
        border: 1px solid #69696B;
        width: 100%;
        margin: 10px auto;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }
    .iced-buy-arbibayc-div-main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .iced-buy-arbibayc-div-main p{
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    .iced-buy-arbibayc-div p{
        margin: auto 0px;
        font-size: 18px;
    }
}
@media only screen and (max-width:768px) {
    .iced-connection-heading{
        font-size: 42px;
    }
    .iced-main-container{
        padding: 90px 9%;
        background-color: #191919;
        color: white;
    }
    .buy-arbibac-heading{
        font-size: 25px;
    }
    .buy-arbibac-pararaph{
        font-size: 14px;
    }
    .iced-connection-description{
        text-align: justify;
    }
    .iced-main-container{
        padding: 90px 5%;
        background-color: #191919;
        color: white;
    }
    
}
@media only screen and (max-width:600px) {
    .iced-connection-heading{
        font-size: 22px;
    }
    .iced-sm-text{
        font-size: 14px;
        top: -5px;
    }
    .range-main-div{
        margin-left: -50px;
    }
}

